/* Home.css */
.home-container {
  position: relative;
}

.home-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home-content {
  font-size: 1.2rem;
  line-height: 1.6;
}

.home-button {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button.expanded {
  position: sticky;
  bottom: 20px;
  right: calc(20px + 150px); /* Adjust the value based on Collapse button width */
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0056b3;
}
